.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}

.card-content {
    height: 85vh;
}

.header {
    position: fixed;
    width: 100%;
    height: 10vh;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
    padding-left: 10vh;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    height: 25vh;
    width: 30vh;
    background-color: white;
}

.footer {
    height: 15vh;
}