
.SingleCard {
    padding-top: 10px;
    display: grid;
    float: right;
    top: 20px;
    right: 50px;
    padding: 10px;
    padding-left: 10px;
    border-bottom: 1px;
    border-bottom-color: blueviolet;
}