@import '~react-mdl/extra/material.css';
.SingleCard {
    display: grid;
    float: right;
    right: 50px;
    padding: 10px;
    padding-left: 10px;
    border-bottom: 1px;
    border-bottom-color: blueviolet;
}