@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.pagination-main {
  position: absolute;
  left: 500px;
  top: 0px;
  z-index: 1;
  padding-top: 400px;
}

.spinner {

  color: aliceblue;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
